.header,
.footer, .first-container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.left-side {
    margin-left: 80px;
    margin-right: 80px;
}

h2 {
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 24px;
    color: #F9FAF8;
}

.right-links {
    margin-right: 80px;
}

a {
    text-decoration: none;
    color: #e5e7eb80;
    font-size: 18px;
    margin-left: 10px;
}

.header {
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 10px;
    margin-top: 20px;
}

.left-side {
    color: #e5e7eb82;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    color: #E5E7EB;
    border: 0px;
    width: 75px;
}

.first-container {
    height: 400px;
}

img {
    margin-right: 80px;
    margin-top: 40px;
    height: 250px;
    width: 450px;
    text-align: center;
}

.second-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.second-container {
    height: 350px;
}

.horizontal-boxes {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-shrink: 1;
}

.box {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid blue;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.text {
    width: 100px;
    margin-left: 10px;
    margin-bottom: 60px;
}
.third-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #E5E7EB;
}
.inspirational-quote {
    display: flex;
    margin-left: 180px;
    margin-right: 180px;
    justify-content: center;
    align-items: center;
    font-size: 36px light italic #1f2937;
}
.written-by {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 100px;
    gap: 10px;
    justify-content: end;
    align-items: end;
}
.fourth-container {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.blue-box {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 600px;
    justify-content: space-around;
    align-items: space-around;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #3882F6;
    border-radius: 5px;
}
.call-to,
.sign-up {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}
.call-to {
    font-size: large;
    justify-content: end;
    align-items: start;
    margin-left: 35px;
    height: 60px;
    width: 400px;
}
.sign-up {
    font-size: small;
    justify-content: start;
    align-items: start;
    margin-left: 35px;
    height: 60px;
    width: 400px;
    color: rgba(255, 255, 255, 0.79);
}

.blue-button {
    position: relative;
    left: 420px;
    bottom: 50px;
    border: 1px solid white;
    border-radius: 5px;
    max-height: 30px;
    max-width: 80px;

}

.footer {
    height: 80px;
    color: white;
}